<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>398D467A-1235-49BD-88E9-0446F6466932.playgroundpage</string>
		<string>D5148C83-7DBB-4FDF-A0B1-04F68F56F1BD.playgroundpage</string>
		<string>08DA112C-34BF-44B2-AB66-B3C6C70A7E34.playgroundpage</string>
		<string>196BC654-E50D-43D3-87B5-08A393CE1908.playgroundpage</string>
		<string>DDBF8134-7E7D-424E-8C72-9CC0F91F1EBB.playgroundpage</string>
	</array>
</dict>
</plist>
