<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>43B29911-DB21-44A9-9CED-8C8F51889071.playgroundpage</string>
		<string>EFFD19F5-9C02-4DAD-8DC8-F467BF7BDBE0.playgroundpage</string>
		<string>977D69DA-A94A-4955-950C-4F833A037E12.playgroundpage</string>
		<string>44B02EB5-134A-4A42-89EC-7C60686CA174.playgroundpage</string>
		<string>D1EF5017-6E18-454B-8618-4FCD4A7FD767.playgroundpage</string>
	</array>
</dict>
</plist>
