<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>DF70662E-D1B5-403E-BBF6-B823DC80ECF1.playgroundpage</string>
		<string>CA71541C-F352-4BBA-AB77-35EC3475B10C.playgroundpage</string>
		<string>89D5DA92-C095-4D47-83C5-A2CFB6EA7612.playgroundpage</string>
		<string>299E4C4B-6D34-4E4A-A60A-26111F0251EA.playgroundpage</string>
		<string>9DAB9BA1-B9EE-44AB-8B18-DFBE54826AD6.playgroundpage</string>
		<string>6C1AF567-25A6-47D0-B8F3-7A800717D074.playgroundpage</string>
	</array>
</dict>
</plist>
