<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>596C1CDB-46D0-4247-9381-0448CD66E261.playgroundpage</string>
		<string>1E17B6D2-75E5-406A-B1B4-B5CDF70AC299.playgroundpage</string>
		<string>3C79BDB3-A863-496D-B89A-A42D11A156B0.playgroundpage</string>
		<string>4650440F-7F39-4BA2-B78F-9579DC8F0631.playgroundpage</string>
	</array>
</dict>
</plist>
