<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>4788C9F5-3108-450E-A805-2A40FD9AAC11.playgroundpage</string>
		<string>DCB4CB11-CAE0-4A05-9ED5-5BDAD3AEBC15.playgroundpage</string>
	</array>
</dict>
</plist>
