<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>4788C9F5-3108-450E-A805-2A40FD9AAC11.playgroundpage</string>
		<string>DCB4CB11-CAE0-4A05-9ED5-5BDAD3AEBC15.playgroundpage</string>
		<string>BB53BF02-7848-4D24-9CC4-9DD8ED0AB560.playgroundpage</string>
		<string>C4D441EE-7827-432D-A721-96E7545DBED6.playgroundpage</string>
		<string>19D026BD-CAA8-4A29-AF45-404D7622B2B4.playgroundpage</string>
		<string>C66313AC-C2E2-411F-A462-474081D539AF.playgroundpage</string>
		<string>1E83CA52-A0EE-4D28-A81E-6262465C578F.playgroundpage</string>
	</array>
</dict>
</plist>
