<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>AA60DBEF-EE3A-481B-A4AD-E11D27052084.playgroundpage</string>
		<string>3F7892CE-1545-429A-9361-62951EBE8DF2.playgroundpage</string>
		<string>CCD5ACB0-E0A4-4FC0-97D4-87AA536A992F.playgroundpage</string>
		<string>F69906CE-A231-4084-9362-6CFF8F113F9A.playgroundpage</string>
	</array>
</dict>
</plist>
