<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>6D19FCDE-D641-47A8-A407-29AAC345AF38.playgroundpage</string>
		<string>1FB2C235-D5A9-4C30-8C0C-37F2D63A1838.playgroundpage</string>
		<string>B13ABB01-E11B-4F63-9546-1B9BF808994A.playgroundpage</string>
		<string>569FEAF6-C47D-41BD-955E-666F82AD2BCD.playgroundpage</string>
		<string>B19F2EE8-088E-468B-9387-41F205E81C78.playgroundpage</string>
	</array>
</dict>
</plist>
